# ----------------------------------------------------------------------
# Flutter, Dart & Pub
# ----------------------------------------------------------------------
.dart_tool/
.fvm/
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Simbolização e Ofuscação
app.*.symbols
app.*.map.json

# ----------------------------------------------------------------------
# Android & Chaves de Segurança (Crítico)
# ----------------------------------------------------------------------
/android/app/debug
/android/app/profile
/android/app/release
android/local.properties
.gradle/
android/gradlew
android/gradlew.bat

# NUNCA suba chaves de assinatura nem arquivos de propriedades privadas
*.keystore
*.jks
key.properties

# ----------------------------------------------------------------------
# iOS & macOS
# ----------------------------------------------------------------------
**/docsets
**/Pods/
**/Frameworks/
**/DerivedData/
ios/Podfile.lock
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserdata
*.xccheckout
*.mover-deleted
*.pch
*.xcworkspace

# ----------------------------------------------------------------------
# IDEs & Editores (VS Code, Android Studio, IntelliJ)
# ----------------------------------------------------------------------
.idea/
*.iml
*.ipr
*.iws
out/

# Configurações locais do VS Code
.vscode/

# ----------------------------------------------------------------------
# Arquivos Temporários e do Sistema Operacional
# ----------------------------------------------------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/